body {
    margin: 0;
    overflow: hidden;
    background-color: #262626;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 8vh;
    width: 100vw;
    background: #1c1c1c;
}

#canvas {
    width: 100vw;
    height: 84vh;
    display: block;
}

#footer {
    height: 8vh;
    width: 100vw;
    background: #1c1c1c;
    overflow-x: auto;
    padding: 1vh;
}

#buttons {
    height: 80%;
}
#buttons > button {
    height: 100%;
    background-color: #555555;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    padding: 1vh;
}
#buttons > button:not(:last-child) {
    margin-right: 1vh;
}
#buttons > button:hover {
    background-color: #666666;
}

#placementAlert {
    height: 80%;
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}